

{% extends "layout.html" %}

{% block pageTitle %}
  Import declarations
{% endblock %}

{% block content %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content"><strong class="govuk-tag govuk-phase-banner__content__tag ">
  alpha
</strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your
      <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

<!--<a href="/declaration/{{mrn}}" class="govuk-back-link">Declaration</a>-->

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        Declaration: {{mrn}}
        <span class="govuk-caption-xl">13 August 2018</span>
      </h1>     
      
    </div>
    <div class="govuk-grid-column-one-third dec-text-align-right">
        <p><span class="govuk-tag dec-grey dec-lowercase">pending cancellation</span></p>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <div class="dec-line-separator"></div>
          <!-- <hr class="eds-hr"> -->
    </div>
</div>



<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
          <h2 class="govuk-heading-l">
            Declaration submitted for cancellation
          </h2>  
          
          <p>Your declaration has been submitted for cancellation.</p>
          <p>Return to <a href="/declarations-dashboard">your declarations</a></p>
          <h3 class="govuk-heading-m">What happens next</h3>

          <ul class="govuk-list">
            <li>
              You will be sent an email confirming your cancellation.
            </li>
          </ul>

          
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        
    </div>
</div>


<div class="govuk-grid-row">

  <div class="govuk-grid-column-full ">

    <h3 class="govuk-heading-m">
        
    </h3>

  </div>

</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">



  </div>
</div>

<script type="text/javascript">

      console.log("ready");

      

  

</script>
{% endblock %}


