

{% extends "layout.html" %}

{% block pageTitle %}
  Import declarations
{% endblock %}

{% block content %}

<a href="/declarations-dashboard" class="govuk-back-link">Import declarations</a>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        Declaration: {{mrn}}
        <span class="govuk-caption-xl">13 August 2018</span>
      </h1>     
    </div>
    <div class="govuk-grid-column-one-third dec-text-align-right">
        <p><span class="govuk-tag dec-lowercase">awaiting goods</span></p>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
          <div class="dec-line-separator"></div>
    </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full dec-text-align-right">
      <ul class="dec-list-actions"> 
          <li><a href="#">Amend</a></li>
          <li><a href="#">Arrival</a></li>
          <li><a href="#">Cancel</a></li>
      </ul>
  </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
          <div class="dec-line-separator"></div>
    </div>
</div>


<div class="govuk-grid-row">

  <div class="govuk-grid-column-full ">

    <h3 class="govuk-heading-m">
        
    </h3>

  </div>

</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <table class="govuk-table">
        
        <caption class="govuk-table__caption">Activity history</caption>
        
        
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="col">Status</th>
            <th class="govuk-table__header" scope="col">Date updated</th>
            <th class="govuk-table__header" scope="col">Description</th>
            <th class="govuk-table__header" scope="col"></th>
          </tr>
        </thead>

        <tbody class="govuk-table__body">

            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><span class="govuk-tag dec-lowercase">awaiting goods</span></td>
              <td class="govuk-table__cell">15 June 2018</td>
              <td class="govuk-table__cell">Awaiting arrival of goods</td>
              <td class="govuk-table__cell">
              </td>
            </tr>

            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><span class="govuk-tag dec-grey dec-lowercase">validated</span></td>
              <td class="govuk-table__cell">14 June 2018</td>
              <td class="govuk-table__cell">Declaration has passed validation</td>
              <td class="govuk-table__cell">
              </td>
            </tr>
       
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><span class="govuk-tag dec-grey dec-lowercase">submitted</span></td>
              <td class="govuk-table__cell">13 June 2018</td>
              <td class="govuk-table__cell">Declaration was submitted</td>
              <td class="govuk-table__cell">
              </td>
            </tr>
   
        </tbody>

    </table>

      <!--<ul class="dec-history-log govuk-list">
          <li>
              <span class="govuk-tag dec-red dec-lowercase">a status</span> Updated 12 June 2018
          </li>
          <li>
            <span class="govuk-tag dec-red dec-lowercase">submitted</span> Updated 11 June 2018
          </li>
          </li>
      </ul>-->
  </div>
</div>

<script type="text/javascript">

      console.log("ready");

      

  

</script>
{% endblock %}


